/* media quries -------------------*/
@media (max-width: 767px){ 
	.pTitleBar h1{
		background-image: none !important;
	}
}
@media (min-width: 768px){    
    .xs-hide{
        display: block;
    }

	.news-carousel {
		position: relative;
		margin: 0 auto;
		min-height: 350px;	
		background-size: 100% auto;
	}
		.news-carousel h3 {
			font-size: 36px;
		}
		.news-carousel p {
			font-size: 16px;	
			line-height: 20px;
		}
		.news-carousel .item {
			min-height: 350px;	
			padding-top: 0;
			text-align: left;
		}
		.news-carousel .carousel-indicators li{
			width: 12px;
			height: 12px;
			border-radius: 6px;
			margin: 0 3px;
		}        
	
/* main menu */
.tco-register {
	background-image: none;
	color: #fff;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	margin-top: 2px;
	overflow: hidden;
	padding: 0 20px;
	text-align: center;
	text-indent: 0;
	text-transform: uppercase;
	width: auto;
	white-space: nowrap;
}

	#pLATEST-HAPPENINGS .posts h3.first {
		border-top: 1px solid #D8D8D8;
	}
	.slide .btns {
		text-align: left;
		margin-left: 0;
	}
	.slide .btn {
		height: 37px;
		width: 160px;
		line-height: 38px;
		font-size: 16px;
		padding: 0;
		margin: 0 8px;
	
		float: none;
}
/* site-footer */
.site-footer{
    text-align: center;
}    
    .site-footer ul{
        display: inline-block;
    }
    .site-footer ul li {
        float: left;
        width: auto;
        margin-bottom: 15px;
        box-sizing: border-box;
    }
	
/* .pTitleBar */
.pTitleBar{
    background: #E8F5F5;
    border-bottom: 0;
	width: 100%;
	z-index: 100;
}

    .pTitleBar h1{
        font-family: Arial, Helvetica, Tahoma, sans-serif;
        font-size:36px;
        line-height: 36px;
        font-weight:normal;    
        margin: 0;
		padding: 10px 0 0;
	}
    .pTitleBar dl{
        font-family: Arial, Helvetica, Tahoma, sans-serif;
        background: url(../i/tco14-logo-s.png) no-repeat 0 22px;
        font-size:36px;
        font-weight:normal;    
        min-height: 89px;
        margin: 0 0 0 20px;
	}
        .pTitleBar dt{ 
            line-height:40px;
            padding-top:10px;        
            margin-left: 138px;
            font-size: 36px;
            color: #E77152;
		}
		.pTitleBar dt em{
		    font-style: normal;
			color: #1b9f9f;
		}
        .pTitleBar dd{
            overflow:hidden;
            font-size: 14px;
            line-height:20px;        
            margin-left: 138px;
            margin-top: 7px;
		}
		.pTitleBar.alt dd{
			margin-top: -6px;
		}
            .pTitleBar dd a{
                float:left;            
                color: #333;
                text-transform: uppercase;
                display: inline-block;
                height: 27px;
                border: 4px solid transparent;
                margin: 8px 0 0 0;
			}
			.pTitleBar.alt dd a{
				height: 18px;			
				margin: 4px 0 0 0;
			}
            .pTitleBar dd a.current, .pTitleBar dd a:hover{
                border-right: 0;
                border: 4px solid transparent;
                border-bottom: 4px solid #1B9F9F;
                text-decoration: none;			
                -webkit-border-image: url("../i/bdr.png") 5 7 stretch;
				-moz-border-image: url("../i/bdr.png") 5 7 stretch;
				-ms-border-image: url("../i/bdr.png") 5 7 stretch;
				border-image: url("../i/bdr.png") 5 7 stretch;
			}
			.pTitleBar dd a.current{
							cursor:default;
			}
            .pTitleBar dd a.current:hover{
                text-decoration:none;
            }
            .pTitleBar dd span{
                float:left;
                margin: 14px 8px 10px;
                height: 16px;
            
                background: #999;
                width: 1px;
			}
			.pTitleBar.alt dd span{
				margin: 6px 8px 4px;
			}

	.single .pTitleBar {
		height: 50px;	
	}
		.single .pTitleBar h1 {
			line-height: 80px;
		}
		
	#topRightSocialMedia > span {
		margin: 0 3px 3px 0;
		width: 34px;
	}
	
	/* sideRail layout */
	.sideRail{
		position: relative;
	}
		
		.widget_archive, .widget_categories{
			display: none;
		}
		
		.TCO_Blog_Posts, .TCO_Blog_Category, .TCO_Recent_Post{
			display: block;
		}
		.blog-pagination{
			margin: 0;
		}
	
		#pWin-TCO-Trips .posts .rules a{
			 font-weight: bold; 
			 display: inline-block;
			 margin-bottom: 8px;
			 float: left;
			 padding: 0 8px;
			 width: 33.33%;
		}
		
	
	/* New Home -------------------------------------------------------------------------------------*/
	.top-cover-photo {
		height: 440px;		
	}
		.top-cover-photo h1 {
			font-size: 26px;
		}
		.top-cover-photo h2 {
			font-size: 48px;
		}
		.top-cover-photo p {
			font-size: 17px;	
		}
		.top-cover-photo p.location {
			font-size: 24px;
			margin-top: 10px;
		}
		
		.top-cover-photo .cta {
			margin: 20px 100px;
		}
			.top-cover-photo .cta a {				
				font-size: 17px;
			}
				.top-cover-photo .cta a strong {
					font-size: 48px;
				}
	.lp h2 {
		font-size: 36px;
	}

	.sponsorsCentered .sponsors > li {
		display: inline;
		float: left;
		margin: 5px 0;
		width: 50%;			
	}

	.cta-bottom a {
		font-size: 24px;	
	}
		
	.navbar-brand {
		margin-left: 0 !important;	
	}
}
